# Vagrant related
Vagrantfile
.vagrant/

# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Script to be rebuilt
scripts/rudder-setup

# Specific to each install
/rudder-api-client

# Local testing platforms are not commited
platforms/test*.json
